In [1]:
import pandas as pd

df = pd.read_csv('yeast_expression.txt', sep='\t')
df.head()

     T0     T1     T2    T3     T4    T5    T6     GENE
0  0.73   0.87   1.09  0.19    0.1 -1.63 -1.35  YHR007C
1 -0.85  -0.51  -0.38 -0.51  -0.59  0.64  2.20  YAL054C
2 -0.43  -0.38   0.24 -0.63  -1.54  1.15  1.59  YOL109W
3 -0.98  -0.76   0.21 -0.83  -0.59  1.64  1.30  YAL067C
4  1.15   0.87   0.82  0.13  -0.21 -0.92 -1.83  YAL003W

In [ ]:
df = df.drop(columns='GENE')

In [35]:
df = df.replace('x', 0.0)

In [41]:
from Bio.Cluster import kcluster
cluster_ids = kcluster(df.values.T)[0]

In [42]:
for time, cluster in zip(df.columns, cluster_ids):
    print(f'Chwila czasowa {time} należy do klastra {cluster}')

Chwila czasowa T0 należy do klastra 1
Chwila czasowa T1 należy do klastra 1
Chwila czasowa T2 należy do klastra 1
Chwila czasowa T3 należy do klastra 1
Chwila czasowa T4 należy do klastra 1
Chwila czasowa T5 należy do klastra 0
Chwila czasowa T6 należy do klastra 0